.main {
  padding-top: 10px;
  padding-bottom: 10px;
}

.shops-grid {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.example-card {
  width: 81%;
  height: 79%;
  cursor: pointer;
}

.container {
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  white-space: nowrap;
  max-width: 91%;
  padding: 10px 10px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  height: 100%;
  max-height: 170px;
  object-fit: cover;
}
